/* сброс стилей */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type='file'] {
  max-width: 100%;
}




.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.mainText {
    font-weight: bold;
    font-size: 64px;
    color: aliceblue;
    font-family: inter;
    display: flex;
    justify-content: center;
}


.BookTag {
    font-weight: bold;
    font-size: 64px;
    color: aliceblue;
    font-family: inter;
    display: flex;
    justify-content: center;
}

input {
    border: 1px solid;
    border-radius: 8px;
    height: 49px;
    margin: 10px;
    font-weight: bold;
    max-width: 617px;
    padding: 10px;
    color: antiquewhite;
}

.main {
    font-family: inter;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
}


button:hover {
    background-color: #c3c3c3;
}


li {
    font-family: inter;
    font-weight: bold;
    display: grid;
    justify-content: center;
    margin-top: 30px;
    color: antiquewhite;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Опускает видео под все элементы */
  object-fit: cover; /* Чтобы видео не растягивалось, а заполняло экран */
}

/* Убедитесь, что у основного контента прозрачный фон */
body {
  margin: 0;
  background: none;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap; /* Чтобы карточки переносились на новую строку */
    gap: 20px;
    justify-content: center;
    width: 100%;
}


ul {
    font-family: inter;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: antiquewhite;
}
.editButton {
   font-family: inter;
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
    width: 150px;
}

.deleteButton {
    font-family: inter;
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
    width: 150px;
}

.deleteButton:hover {
      color: red;
      transition: 0.3s;
}

.editButton:hover {
  color: rgb(112, 255, 141);
}

.nameBook {
  color: rgb(255, 255, 255);
}

.pagesCount {
  color: #ffffff;
}

li {
  margin: 3px;
}

.select {
  color:#ffffff;
  font-family: inter;
  font-weight: bold;
  position: relative;
}


.card {
  border: #c3c3c3 solid 1px;
  border-radius: 30px;
  max-width: 617px;
  height: 300px;
  padding: 10px;
}

.progress-container {
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%); /* Голубой градиент */
    transition: width 0.4s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.card-top-row {
  color: #ffffff;
  font-family: inter;
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.card-bottom-row {
  color: #ffffff;
  font-family: inter;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: auto;
}


.progress-text {
  font-family: inter;
}

.status-select {
  border: #c3c3c3 solid 1px;
  border-radius: 5px;
  width: stretch;
  text-align: center;
  height: 49px;
  font-weight: bold;
}

.status-select option {
  color: black;
}

.cards-grid {
  margin-top: 50px;
}

.addButton {
  margin: 10px;
}


#finished-count {
    font-weight: bold;
    font-size: 64px;
    color: aliceblue;
    font-family: inter;
    display: flex;
    justify-content: center;
}

.stat-label {
      font-weight: bold;
    font-size: 64px;
    color: aliceblue;
    font-family: inter;
    display: flex;
    justify-content: center;
}

/* плавное скольжение снизу */
@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px); /* Небольшой эффект всплытия снизу */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимации появления */

.main {
  opacity: 0;
    animation: fadeInPage 1.5s ease-in-out forwards;
}

.cards-grid {
  opacity: 0;
    animation: fadeInPage 1.5s ease-in-out forwards;
}

.BookTag {
  opacity: 0;
    animation: fadeInPage 1.5s ease-in-out forwards;
}

/* пояление плавное из космоса */

@keyframes fadeInCard {
    from {
        opacity: 0;
        scale: 0.95;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.statistic {
    font-weight: bold;
    font-size: 64px;
    color: aliceblue;
    font-family: inter;
    display: flex;
    justify-content: center;
      opacity: 0;
    animation: fadeInPage 1.5s ease-in-out forwards;
    margin-top: 30px;
}