/* сброс стилей */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type='file'] {
  max-width: 100%;
}




.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    color: aliceblue;
}

input {
    border: 1px solid;
    border-radius: 8px;
    height: 49px;
    margin: 10px;
    font-weight: bold;
    max-width: 617px;
    padding: 10px;
    color: antiquewhite;
}

.main {
    font-family: inter;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
}


button:hover {
    background-color: #c3c3c3;
}


li {
    font-family: inter;
    font-weight: bold;
    display: grid;
    justify-content: center;
    margin-top: 30px;
    color: antiquewhite;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Опускает видео под все элементы */
  object-fit: cover; /* Чтобы видео не растягивалось, а заполняло экран */
}

/* Убедитесь, что у основного контента прозрачный фон */
body {
  margin: 0;
  background: none;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap; /* Чтобы карточки переносились на новую строку */
    gap: 20px;
    justify-content: center;
    width: 100%;
}


ul {
    font-family: inter;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: antiquewhite;
}
.editButton {
   font-family: inter;
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
    width: 150px;
}

.deleteButton {
    margin: 30px;
    font-family: inter;
    color: rgb(255, 255, 255);
    background-color: rgba(red, green, blue, alpha);
    font-weight: bold;
    height: 49px;
    border-radius: 8px;
    max-width: 617px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: #c3c3c3 solid 1px;
    border-color:rgba(180, 180, 180, 0.3s) ;
    width: 150px;
}

.deleteButton:hover {
      color: red;
      transition: 0.3s;
}

.editButton:hover {
  color: rgb(112, 255, 141);
}

.nameBook {
  color: rgb(255, 255, 255);
}

.pagesCount {
  color: #ffffff;
}

li {
  margin: 3px;
}

.select {
  color:#ffffff;
  font-family: inter;
  font-weight: bold;
  position: relative;
}


.card {
  border: #c3c3c3 solid 1px;
  border-radius: 30px;
  max-width: 617px;
}